<body>

  <div class="section" id="header">
    <app-header [photo]="profile.photo" [username]="profile.username" [routes]="routes" />
  </div>

  <div class="section" id="lateralBar">
    <app-lateral-bar />
  </div>

  <main class="section">
    <h1>{{title}}</h1>

    @if (isOnDashboard) {

      @if (invitations.length) {
        <app-invitations [invitations]="invitations"/>
      }

      @if (projects.length) {
        <app-projects [usersPhotos]="usersPhotos" [projects]="projects"/>
      }

    } @else {
      <router-outlet></router-outlet>
    }
  </main>

</body>
