<header>

  <div>

    <section id="logo">
      <img src="assets/images/Logo.svg" alt="">
    </section>

    <section id="routes">
      @for (route of routes; track $index) {
        @if (!$first) {
          <img id="arrow" src="assets/images/arrow_white.png">
        }

        @if ($last) {
          <a class="link">{{route.customTitle ?? route.title}}</a>

        } @else {
          <a class="link" routerLink="{{route.url}}">{{route.customTitle ?? route.title}}</a>
        }

      }
    </section>

    <section id="profile">
        <app-profile-image [onclick]="goToProfile.bind(this)" [image]="photo??''" [username]="username" styles="
          border-radius: 1000px;
        "/>
    </section>

  </div>

</header>
