<html>
  <head></head>
  <body>

    <section id="logo">
      <img src="assets/images/Logo.svg" alt="">
    </section>

    <section [className]="isLoading ? 'loading' : ''" id="form">
      <h1>Login</h1>

      <form (submit)="submit($event)">

        <label>Email</label>
        <input [(ngModel)]="person.email" name="email" type="email" placeholder="your@email.com">

        <label>Password</label>
        <input [(ngModel)]="person.password" name="password" type="password" placeholder="********" [disabled]="isLoading">

        <button type="submit" [disabled]="isLoading">Login</button>
      </form>

      <a href="/signup">Create you new account</a>
    </section>
  </body>
</html>
