#box {
  background: black;
  padding: 30px 30px;
  border-radius: var(--md-border-radius);
  border: 2px solid var(--tertiary-color);
  font-size: 1rem;
  margin-bottom: 20px;
}

#content.list  {
  display: flex;
  flex-direction: column;
}
#content.grid  {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 10px;
}

#titleBox {
  color: rgba(255, 255, 255, 0.356);
  font-weight: 100;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 1.5em;
}
