#memberItem {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#memberItem p {
  font-size: 1em;
}
#memberItem img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 1000px;
  overflow: hidden;
}
#memberItem #email {
  opacity: .5;
  font-style: oblique;
  font-size: .95em;
}
