<div routerLink="/dashboard/projects/{{project.id}}" id="item" title="{{project.title}}">
  <div class="projectInfo">
    <h1>{{project.title}}</h1>
    <p id="date">{{project.date}}</p>
  </div>

  <div id="membersList">
    @for (user of project.members; track $index) {
      <app-member-item [user]="user" />
    }
  </div>

  @if (project.owner.id == app.getUser().id) {
    <p title="owner: {{project.owner.username}}" id="owner" class="sameUser">You</p>

  } @else {
    <p title="owner: {{project.owner.username}}" id="owner">{{project.owner.email}}</p>
  }


</div>
